@*<a href="#popupLogin" data-rel="popup" data-role="button" data-inline="true" data-position-to="window">Form</a>*@
<div data-role="popup" id="popupLogin" data-overlay-theme="b" data-theme="a" class="ui-corner-all" data-position-to="window">
	<form>
		<div style="padding:10px 20px;" >
			<h3>Share</h3>
            <a href="venta.html" data-theme="" id="ventaOption"> <img src="/Content/images/share-facebook.png" width="64" height="64"></a>
            <a href="venta.html" data-theme="" id="lol"> <img src="/Content/images/share-email.png" width="64" height="64"></a>
		</div>
	</form>
</div>