@model PoliticImpact1.Models.CaseModel
@*Frida Mattisson & Michaela Ulvhammar
Kvar att göra: När databasen är kopplad ska Model kommenteras ut, och cssen ska fixas *@
@{
    ViewBag.Title = "ShowCase";
}


<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>JQM popup test</title>
        
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
</head>

@*<h3>@Model.Title</h3>*@

<fieldset> 
@*<div class="content">@Model.Text</div>*@

   @* @if(Model.imageId != null)
        {
        <img src="@Model.imageName" width ="75" height ="75">
        }
   
    *@
    <a href="#popupLogin" data-rel="popup">
        <img src="~/Content/images/share-email.png" width="75" height="75" id="ShowCaseLike" />
    </a>
    <a href="#popupLogin" data-rel="popup">
        <img src="~/Content/images/share-email.png" width="75" height="75" id="ShowCaseComment" />
    </a>
    <a href="#popupLogin" data-rel="popup">
        <img src="~/Content/images/share-email.png" width="75" height="75" id="ShowCaseSign" />
    </a>
    
     <a href="#popupLogin" data-rel="popup" data-role="button" data-inline="true" data-position-to="window">Share Case</a>
    <div data-role="popup" id="popupLogin" data-overlay-theme="b" data-theme="a" class="ui-corner-all" data-position-to="window">
	    <form>
		    <div style="padding:10px 20px;" >
			    @*<h3>Share @Model.Title</h3>*@
                <a href="venta.html" data-theme="" id="ventaOption"> <img src="/Content/images/share-facebook.png" width="64" height="64"></a>
                <a href="venta.html" data-theme="" id="lol"> <img src="/Content/images/share-email.png" width="64" height="64"></a>
		    </div>
	    </form>
    </div>
</fieldset> 
