@model PoliticImpact1.Models.CaseModel

@{
    ViewBag.Title = "ShowCase";
}

@*<h3>@Model.Title</h3>*@

<fieldset> 
@*<div class="content">@Model.Text</div>*@

   @* @if(Model.imageId != null)
        {
        <img src="@Model.imageName" width ="75" height ="75">
        }
   
    <button type="button" > <img src="~/Content/images/share-email.png" width="75" height="75" /> </button> *@
    <img src="~/Content/images/share-email.png" width="75" height="75" />
    <input type="submit" value="Share" />


</fieldset>