@model PoliticImpact1.Models.CaseModel

@{
    ViewBag.Title = "ShowCase";
}

@*<h3>@Model.Title</h3>*@

<fieldset> 
@*<div class="content">@Model.Text</div>*@

<p>
    <input type="submit" value="Share" />
</p>

</fieldset>